/* Reset styles */
body,
h1,
h2,
h3,
p,
table,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #222; /* Dark background color */
    color: #fff; /* Light text color */
}

header {
    background-color: #333; /* Darken header background */
    padding: 20px;
}

h1 {
    color: #fff; /* White heading color */
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #555; /* Darker border color */
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #444; /* Darker even row background color */
}

/* Navigation styles */
nav {
    background-color: #444; /* Dark navigation background */
    padding: 10px 0;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #555;
}

/* Back to Top Button styles */
#btnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    /* Add some styles to make the button look better */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

#btnTop:hover {
    background-color: #555;
    transform: scale(1.1);
}

#btnTop:hover {
    background-color: #555;
}

body {
    position: relative;
    margin-bottom: 60px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
}