body,
h1,
h2,
h3,
p,
table,
th,
td {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif; 
}

header {
    background-color: #f0f0f0; 
    padding: 20px;
}

h1 {
    color: #333; 
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Navigation styles */
nav {
    background-color: #333; 
    color: #fff;
    padding: 10px 0;
}

.navigation {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center align the navigation items */
}

.navigation li {
    margin-right: 20px; /* Add space between navigation items */
}

.navigation a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.navigation a:hover {
    background-color: #555; /* Darken background color on hover */
}

/* Back to Top Button styles */
#btnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

#btnTop:hover {
    background-color: #555;
}
